<div ng-controller="notifyCtrl" class="list alerts">
    <warning></warning>
    <alarm></alarm>
</div>
<div class="list">
    <div ng-repeat="day in days">
        <div class="item item-divider item-icon-right" ng-click="day.showContents = !day.showContents" ng-class="{ 'danger': day.balance < day.limit.alarm, 'warning': day.balance < day.limit.warning }">
            <i class="icon ion-chevron-down"></i>
            {{ day.date.toDateString() }}
            <span class="badge badge-assertive" ng-if="day.outgoing.length"><i class="ion-arrow-down-a"></i></span>
            <span class="badge badge-balanced" ng-if="day.incoming.length"><i class="ion-arrow-up-a"></i></span>
        </div>
        <div ng-show="day.showContents">
            <div class="item balance">
                <b>Balance:</b> {{ day.balance | currency }}
            </div>
            <label ng-repeat="income in day.incoming" class="item item-stacked-label income" ng-if="day.incoming.length">
                <span class="input-label"><b>{{ income.label }}</b></span>
                <div>{{ income.amount | currency }}</div>
            </label>
            <label ng-repeat="bill in day.outgoing" class="item item-stacked-label bill" ng-if="day.outgoing.length && bill.amount">
                <span class="input-label"><b>{{ bill.label }}</b></span>
                <div>{{ bill.amount | currency}}</div>
            </label>
        </div>
    </div>
</div>